@import "tailwindcss";

:root {
  --color-accent: #00ff38;
  --color-text: #f2f2f2;
  --color-background: #0a0f1c;
  --color-deep: #070a14;

  --color-particle-1: #b5b5c3;
  --color-particle-2: #837c9b;

  --font-sora: "Sora", sans-serif;
  --font-orbitron: "Orbitron", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sora);
  @apply bg-[var(--color-background)] text-[var(--color-text)];
}

.text-accent {
  color: var(--color-accent);
}

.bg-background {
  background-color: var(--color-background);
}

.text-text {
  color: var(--color-text);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
